# Ignore everything
*

# But descend into directories
!*/

# Go
!/cmd/**/*.go
!/internal/**/*.go
!/pkg/**/*.go
!go.mod
!go.sum

# General files
!/.gitignore
!LICENSE
!README.md

# Test
!pkg/**/testdata/**/*.bin
!pkg/**/testdata/**/*.txt
